---
import { frontmatter as site } from '../settings/Settings.md'

import Layout from '../layout/Layout.astro'  
import AboutSection from '../components/AboutSection.astro'
import ProjectSets from '../components/ProjectSets.astro'
import VimeoPlayer from '../components/VimeoPlayer.astro'
import ScrollButton from '../components/ScrollButton.astro'

const colorThemeVerticalRule = site.themeColors.verticalRule
---

<Layout>
  <div class="initial-view">
    <header class="landing">
      <h1>{site.name}</h1>
      <h2>{site.title}</h2>
    </header>

    <div class="bleed video-fade-in">
      <VimeoPlayer url={site.reel.vimeoUrl} />
    </div>

    <div class="align-r scroller-fade-in" style="padding-top: 1rem;">
      <ScrollButton targetId="first-section" />
    </div>
  </div>

  <main class="landing">
    <ProjectSets />
    <AboutSection />
  </main>
</Layout>

<style is:global define:vars={{ colorThemeVerticalRule }}>
:root {
  --color-vertical-rule: var(--colorThemeVerticalRule);
}  
</style>