---
import { frontmatter as metadata } from '../data/Meta.md'
import { frontmatter as reel } from '../content/Reel.md'

import Layout from '../layout/Layout.astro'  
import AboutSection from '../components/AboutSection.astro'
import ProjectSets from '../components/ProjectSets.astro'
import VimeoPlayer from '../components/VimeoPlayer.astro'
import ScrollButton from '../components/ScrollButton.astro'
---

<Layout>
  <div class="initial-view">
    <header>
      <h1>{metadata.name}</h1>
      <h2>{metadata.title}</h2>
    </header>

    <div class="bleed video-fade-in">
      <VimeoPlayer url={reel.vimeoUrl} />
    </div>

    <div class="align-r scroller-fade-in" style="padding-top: 1rem;">
      <ScrollButton targetId="first-section" />
    </div>
  </div>

  <main>
    <ProjectSets />
    <AboutSection />
  </main>
</Layout>