---
import { frontmatter as projectData } from '../content/Projects.md'
import Project from './Project.svelte'
---

{projectData.projectSets.map((projectSet, i) => (
  <section class="section" id={i === 0 && 'first-section'}>
    <h3>{projectSet.heading}</h3>

    {projectSet.projects.map((project) => (
      <Project
        {project}
        projectTypeLabel={ 
          project.projectType ||
          projectSet.fallbackProjectTypeLabel
        }
        client:visible
      />
    ))}
  </section>
))}