---
const { targetId } = Astro.props
const scrollLabel = {
  up: 'Scroll up',
  down: 'Sroll down'
}
const buttonId = 'js-scroll-button'
const reverseClassName = 'reverse'
---

<a 
  id={buttonId}
  href={`#${targetId}`}
  onclick="scrollDown(event);"
  aria-label={scrollLabel.down}
>
  <img
    src="/img/chevron-down.svg"
    alt=""
  >
</a>

<style lang="scss">
  a {
    margin-right: calc(0.5 * var(--margin-body-h));
    width: var(--scroll-button-diameter);
    height: var(--scroll-button-diameter); 
    border-radius: 999px;
    background-color: rgba(255, 255, 255, 0);
    display: inline-flex;
    position: relative;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.05);

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0.075);
    }

    img {
      position: absolute;
      top: 54%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 1s;
    }

    &.reverse { // hardcoded! keep in sync with reverseClassName!
      img {
        top: 48%;
        transform: translate(-50%, -50%) scaleY(-1);
      }
    }
  }
</style>

<script is:inline define:vars={{ targetId, scrollLabel, buttonId, reverseClassName }}>
  const scrollDown = (e) => {
    e.preventDefault() // don't update URL hash

    const buttonEl = document.getElementById(buttonId)
    const isReversed = buttonEl.classList.contains(reverseClassName)

    const targetEl = document.getElementById(targetId)

    isReversed
      ? document.body.scrollIntoView()  // default `behavior` respects `prefers-reduced-motion`
      : targetEl.scrollIntoView()
  }

  // flip scroll button direction when above viewport midline
  window.addEventListener('scroll', function() { 
    const scrollPos = window.scrollY
    const viewportHeight = window.innerHeight
    const buttonEl = document.getElementById(buttonId)
    const buttonOffset = buttonEl.getBoundingClientRect()

    if (buttonOffset.y < viewportHeight / 2) {
      buttonEl.classList.add(reverseClassName)
      buttonEl.setAttribute('aria-label', scrollLabel.up)
    } else {
      buttonEl.classList.remove(reverseClassName)
      buttonEl.setAttribute('aria-label', scrollLabel.down)
    }
  })
</script>